In [105]:
%pip install pandas requests openpyxl

Requirement already satisfied: pandas in c:\users\campusfp\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: requests in c:\users\campusfp\anaconda3\lib\site-packages (2.32.2)
Requirement already satisfied: openpyxl in c:\users\campusfp\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\campusfp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\campusfp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\campusfp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\campusfp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\campusfp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\campusfp\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\campusfp\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\campusfp\anaconda3\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: et-xmlfile in c:\users\campusfp\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\campusfp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [106]:
import pandas as pd
import requests
from io import BytesIO

In [107]:
# Descargar el archivo Excel del INE
url = "https://www.ine.es/jaxiT3/files/t/es/xlsx/62271.xlsx?nocab=1"
file_path = "dataset.xlsx"

# Descargar el archivo y guardarlo localmente
response = requests.get(url)
with open(file_path, 'wb') as file:
    file.write(response.content)

# Leer el archivo Excel en un DataFrame
df = pd.read_excel(file_path, engine='openpyxl')
print("Datos cargados en el dataset")

# Mostrar las primeras filas del dataset
df.head()

Datos cargados en el dataset

c:\Users\CampusFP\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Cuentas trimestrales no financieras de los sectores institucionales. Revisión 2024.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,S11. Sociedades no financieras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos contables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Unidades: %, Millones Euros",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
def limpiar_datos(df):
    # Reemplazar valores NaN por 0
    df.fillna(0, inplace=True)
    # Eliminar filas y columnas innecesarias
    df = df.dropna(how='all', axis=1)  # Eliminar columnas completamente vacías
    df = df.dropna(how='all', axis=0)  # Eliminar filas completamente vacías
    return df

df = limpiar_datos(df)
print("Datos limpiados")

# Mostrar las primeras filas del dataset limpio
df.head()

Datos limpiados

,Cuentas trimestrales no financieras de los sectores institucionales. Revisión 2024.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,S11. Sociedades no financieras,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,Saldos contables,0,0,0,0,0,0,0,0,0
3,"Unidades: %, Millones Euros",0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0

In [109]:
def transformar_datos(df):
    # Transponer el DataFrame
    df = df.transpose()
    return df

df = transformar_datos(df)
print("Datos transformados")

# Mostrar las primeras filas del dataset transformado
df.head()

Datos transformados

,0,1,2,3,4,5,6,7,8,9,...,208,209,210,211,212,213,214,215,216,217
Cuentas trimestrales no financieras de los sectores institucionales. Revisión 2024.,S11. Sociedades no financieras,0,Saldos contables,"Unidades: %, Millones Euros",0,,,Datos no ajustados de estacionalidad y cal...,2024T2,2024T1,...,2000T1,1999T4,1999T3,1999T2,1999T1,0,0,Notas:,0,Fuente:
Unnamed: 1,0,0,0,0,0,Valor añadido bruto / Producto interior bruto,Dato base,0,202820,193549,...,79176,77058,75502,73872,72573,0,0,0,0,0
Unnamed: 2,0,0,0,0,0,0,Variación anual,0,4.4,2.8,...,9.1,,,,,0,0,0,0,0
Unnamed: 3,0,0,0,0,0,0,Variación trimestral,0,4.8,-8.6,...,2.7,2.1,2.2,1.8,,0,0,0,0,0
Unnamed: 4,0,0,0,0,0,Excedente de explotación bruto y Renta mixta b...,Dato base,0,74946,66507,...,29273,28369,27998,27730,27191,0,0,0,0,0

In [110]:
with open('lista.txt', 'w') as f:
    for row in df.values:
        f.write(' '.join(map(str, row)) + '\n')
print("Datos guardados en lista.txt")

Datos guardados en lista.txt

In [111]:
def calcular_estadisticas(df):
    # Filtrar solo las columnas numéricas
    df_numerico = df.select_dtypes(include='number')
    moda = df_numerico.mode()
    estadisticas = {
        'media': df_numerico.mean(),
        'varianza': df_numerico.var(),
        'moda': moda.iloc[0] if not moda.empty else 'No hay moda'
    }
    return estadisticas

estadisticas = calcular_estadisticas(df)
print("Estadísticas calculadas")
print(estadisticas)

Estadísticas calculadas
{'media': Series([], dtype: float64), 'varianza': Series([], dtype: float64), 'moda': 'No hay moda'}

In [112]:
def calcular_estadisticas(df):
    # Filtrar solo las columnas numéricas
    df_numerico = df.select_dtypes(include='number')
    moda = df_numerico.mode()
    estadisticas = {
        'media': df_numerico.mean(),
        'varianza': df_numerico.var(),
        'moda': moda.iloc[0] if not moda.empty else 'No hay moda'
    }
    return estadisticas

estadisticas = calcular_estadisticas(df)
print("Estadísticas calculadas")
print(estadisticas)

Estadísticas calculadas
{'media': Series([], dtype: float64), 'varianza': Series([], dtype: float64), 'moda': 'No hay moda'}

In [2]:
class Dataset:
    def __init__(self, **kwargs):
        self.__dict__.update(kwargs)
    
    def __str__(self):
        return str(self.__dict__)
    
    def actualizar_atributo(self, atributo, valor):
        setattr(self, atributo, valor)
    
    def __eq__(self, otro):
        return self.columna2 == otro.columna2
    
    def __add__(self, otro):
        return Dataset(**{k: v + otro.__dict__[k] for k, v in self.__dict__.items()})
    
    def __sub__(self, otro):
        return Dataset(**{k: v - otro.__dict__[k] for k, v in self.__dict__.items()})

# Crear objetos y probar métodos
obj1 = Dataset(columna1=1, columna2=2)
obj2 = Dataset(columna1=3, columna2=4)
print(obj1 + obj2)
print(obj1 - obj2)

{'columna1': 4, 'columna2': 6}
{'columna1': -2, 'columna2': -2}

In [3]:
# Código para generar y mostrar las tablas
import pandas as pd

# Cargar datos desde el archivo Excel
df = pd.read_excel('dataset.xlsx')

# Mostrar la tabla
from IPython.display import display
display(df)

c:\Users\CampusFP\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Cuentas trimestrales no financieras de los sectores institucionales. Revisión 2024.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,S11. Sociedades no financieras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos contables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Unidades: %, Millones Euros",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Notas:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,Fuente:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN